@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background:#10d43a91;
    border-radius: 10px;
}



@keyframes cardFadeUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}